@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Tilt+Warp&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh; 
}

.button-go {
  width: 50%;
}

.button-group {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
}

.button-group .Button {
  flex: 1; 
  max-width: calc(25% - 10px); 
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centered-card {
  position: absolute;
  top: 75%;
  left: 50%;
  text-align: 'center';
  width: 25%;
  transform: translate(-50%, -50%);
  background:  rgba(255, 255, 255, 0.328); 
  backdrop-filter: blur(10px); 
  padding: 20px;
  text-align: center;
  z-index: 2; 
}

.light .card-text {
  text-align: 'center';
  font-size: 1em;
  font-family: 'DM Sans', sans-serif;
  color: rgb(0, 0, 0);
}

.dark .card-text {
  text-align: 'center';
  font-size: 1em;
  font-family: 'DM Sans', sans-serif;
  color: rgb(255, 255, 255);
}



.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); 
  padding: 20px 25px;
  font-size: 2em;
  font-family: 'Tilt Warp', sans-serif;
  z-index: 1; 
  color: white; 
  text-align: left; 
}

.footer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.504);
  padding: 10px 0; 
  font-size: 0.7em;
  font-family: 'DM Sans', sans-serif;
  z-index: 1;
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
}

.header {
  top: 0; 
}

.footer a::before {
  content: " ";
  padding: 0 0.1em; 
}

.footer a::after {
  content: " ";
  padding: 0 0.1em; 
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .centered-card {
    top: 60%;
    width: 75%;
    
  }
}
